<!-- templates/view_memberships.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Memberships</title>
  </head>
  <body>
    <h1>Memberships for {{ member.name }}</h1>
    <ul>
      {% for membership in memberships %}
      <li>
        Membership ID: {{ membership.id }}<br />
        Start Date: {{ membership.start_date }}<br />
        End Date: {{ membership.end_date }}<br />
        Duration: {{ membership.duration }} months<br />
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
